version: '3.7'

networks:
  development:
    driver: bridge

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api
    depends_on:
      - postgres
    environment:
      - TYPEORM_HOST=postgres
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    env_file:
      - .env
    expose:
      - 3000
    image: nicpearson/node.express.starter:1.0.0
    networks:
      - development
    ports:
      - 3000:3000

  postgres:
    container_name: postgres
    environment:
      - POSTGRES_DB=express
      - POSTGRES_USER=master
      - POSTGRES_PASSWORD=masterkey
    expose:
      - 5432
    hostname: postgres
    image: postgres:14
    networks:
      - development
    ports:
      - 5432:5432
