name: code

on: [push]

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [15]
    steps:
      - uses: actions/checkout@v2
      - name: using node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: yarn install, lint, and build
        run: |
          yarn install
          yarn lint
          yarn build
  test_unit:
    name: test unit
    runs-on: ubuntu-latest
    needs:
      - build
    strategy:
      matrix:
        node-version: [15]
    steps:
      - uses: actions/checkout@v2
      - name: using node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: yarn install
        run: yarn install
      - name: yarn test:unit
        run: yarn test:unit
