name: publish
on:
  release:
    types: [published]

env:
  DOCKER_CONTEXT_PATH: .
  DOCKERFILE: Dockerfile
  PACKAGE: node.express.starter

jobs:
  docker:
    name: docker build and publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout git repository
        uses: actions/checkout@v3
      - name: set release version
        id: vars
        run: echo ::set-output name=tag::$(echo ${{ github.event.release.tag_name }} | cut -d "v" -f 2)
      - name: Install and build
        run: |
          yarn install
          yarn build
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: nicolaspearson
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push latest version
        uses: docker/build-push-action@master
        with:
          build-args: |
            GITHUB_SHA=${{ github.sha }}
            PACKAGE=${{ env.PACKAGE }}
          cache-from: type=registry,ref=ghcr.io/nicolaspearson/${{ env.PACKAGE }}
          cache-to: type=inline
          context: ${{ env.DOCKER_CONTEXT_PATH }}
          file: ${{ env.DOCKERFILE }}
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/nicolaspearson/${{ env.PACKAGE }}:latest
            ghcr.io/nicolaspearson/${{ env.PACKAGE }}:${{ steps.vars.outputs.tag }}
